{# Animação padrão de login (igual Grupo de Louvor) #}
<div class="login-anim login-anim--louvor" aria-hidden="true">
  <span class="login-anim-onda login-anim-onda--1"></span>
  <span class="login-anim-onda login-anim-onda--2"></span>
  <span class="login-anim-nota login-anim-nota--1"></span>
  <span class="login-anim-nota login-anim-nota--2"></span>
  <span class="login-anim-nota login-anim-nota--3"></span>
  <img class="login-anim-emblema login-anim-emblema--1" src="{{ url_for('static', filename='images/emblema.png') }}" alt="">
  <img class="login-anim-emblema login-anim-emblema--2" src="{{ url_for('static', filename='images/emblema.png') }}" alt="">
</div>
